<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">À propos de nous</h2>
            <h1 class="display-4 text-uppercase">Bienvenue sur CakeZone</h1>
        </div>
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{{ asset('assetsCake/img/about.jpg') }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <h4 class="mb-4">Des pâtisseries savoureuses et saines : notre engagement professionnel</h4>
                <p class="mb-5">Notre site de pâtisserie professionnelle s'engage à élaborer des créations à la fois délicieuses et saines, sans compromis sur le goût. Nous utilisons des ingrédients de qualité et des techniques de préparation minutieuses pour offrir des pâtisseries qui satisferont vos papilles tout en respectant votre santé. Découvrez notre gamme de desserts gourmands et équilibrés, conçus pour combler vos envies sans sacrifier votre bien-être.</p>
                <div class="row g-5">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-heartbeat fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">100% Healthy</h4>
                        <p class="mb-0">Chez CakeZone, nous prenons soin de sélectionner des ingrédients sains et naturels pour toutes nos créations, afin de garantir une alimentation équilibrée et nourrissante. Vous pouvez donc savourer nos délicieuses pâtisseries en toute confiance, sachant qu'elles sont non seulement succulentes, mais également bonnes pour votre santé.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center bg-primary border-inner mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-award fa-2x text-white"></i>
                        </div>
                        <h4 class="text-uppercase">Plusieurs fois primé</h4>
                        <p class="mb-0">Nous sommes fiers de dire que nos créations ont remporté des prix prestigieux dans des concours culinaires renommés, attestant ainsi de notre savoir-faire et de notre engagement envers l'excellence. En choisissant notre pâtisserie, vous pouvez être assuré de déguster des desserts exceptionnels qui ont été reconnus par les experts du domaine.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Facts Start -->
<div class="container-fluid bg-img py-5 mb-5">
    <div class="container py-5">
        <div class="row gx-5 gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-star text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Notre expérience</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">50</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Spécialiste du Cake</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">34</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Projets complétés</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">3500</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary border-inner d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-mug-hot text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h6 class="text-primary text-uppercase">Clients satisfaits</h6>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">12345</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->